extends baseEmail

block content
  p Hi #{user_name},
  h2 Anonry Email Verification
  p #{subject}
  p #{message}
  h4 Your OTP is - #{otp}
  a(href=link) 
    strong Click here to verify! 
  p - Anonry
